.title-component {
  background-color: lightblue;
  border-radius: 5px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30%;
  margin-left: 30%;
  justify-content: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: blue;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(1, 67, 90);
}
