.modal-out {
  background-color: rgb(114, 114, 114, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
}

.modal-box h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.modal-box p {
  font-size: 16px;
  margin-bottom: 16px;
}

.modal-box a {
  color: #007bff;
  text-decoration: none;
}

.modal-box a:hover {
  text-decoration: underline;
}

.modal-box .orange-class {
  color: orange;
}

.modal-box .black-class {
  color: black;
}
